.footer1{
    background: var(--principal-color);
    background: var(--container-color);
    display: flex;
    justify-content: space-evenly;
    color: #F2F2F2;
    padding-top: 5rem;
  }
  
  .footerRedes p{
    width: 150px;
    height: 150px;
  }
  
  .footerRedes li{
    padding-bottom: 10px;
  }
  
  .footerRedes ol{
    margin-bottom: 30px;
  }
  
  .footerRedes a{
    margin-left: 10px;
  }
  
  .footerRedes span{
    margin-left: 60px;
  }
  
  .container_contato {
    width: 30%;
    margin-right: 100px;
  }

