.hero {
    background-image: url("https://user-images.githubusercontent.com/101142283/210440032-f8cba697-a907-4913-ad9c-9103893090e2.png");
    background-color: rgba(0, 0, 0, .70);
    height: 395px;
    width: 100%;
    background-repeat: no-repeat; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h1{
    background-color: rgba(253,187,45,1);
    font-size: 56px;
    color: #000;
    font-family: "Raleway", sans-serif;
    margin-bottom: 50px;
}

.box1{
    display: flex;
    margin: 20px 10px 20px 10px;
    position: relative;
    top: 145px;
    right: 55px;
}

.box1 a{
padding-right: 10px;
}


.box2 img{
    display: flex;
    position: relative;
    right: 273px;
    border-radius: 50%;
}

