header{
    background: var(--container-color);
    background: var(--container-color);
}


.navegacao{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.navegacao a{
    font-family: var(--fuente-titulo);
    padding-right: 30px;
    color: #F2F2F2;


}

.logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
