:root{
    --principal-color: rgb(34,193,195);
    --fuente-texto: "roboto", sans-serif;
    --fuente-titulo: "Raleway", sans-serif;
    --titulos-color: #000 ; 
    --text-color: #000;
    --light-text-color: #8e9ba4;
    --container-color: #FFF;
    --body-color: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    --shadow-color: 0px 2px 2px rgba(0, 0, 0, 0.2);
    --font-size-titulos: 60px;
    --font-size-texto: 42px;
}

.btn-hover {
    min-height: 45px; width: 200px; border-radius: 30px; border: 0px white; background-color: rgb(149, 165, 166); font-family: "Do Hyeon", sans-serif;
}

.btn-hover:hover{
    background-color: #201E3E;
            color:white;

}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-family: var(--fuente-texto);
    text-decoration: none; 
}

.navegacao{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 20px;
}

.navegacao a{
    font-family: var(--fuente-titulo);
    padding-right: 30px;
    color: var(--text-color);


}

.logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}


header{
  background: rgb(253,29,29);
}


body {
   background-color:  #19A2AE;
}

h1{
    font-family: var(--fuente-titulo);
    font-size: var(--font-size-titulos);
    text-align: center;
    color: linear-gradient(135deg,#009245,#FCEE21,#D9E021);
    margin-bottom: 20px;

    
}

section{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}

#valor{
    font-size: 30px;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    text-align: center;
    
}

.enviar{
    background-color: rgb(253,29,29); ;
}

.card{
    border: 2px solid;
}

.container{
display: flex;
justify-content: center;
}

.card-fondo {
    width: 300px;
    height: 400px;
    border: 1px solid white;
    background-color: #000;
    background-image:url("/img/fondo-poke\ 1.svg") ;
    border-radius: 30px;
    margin-left: 25px;
}

.card-header{
    border: 2px solid;
}

.datos{
   text-align: center;
}

.card-img{
    height: 150px;
    display: flex;
    justify-content: center;
    margin-top: 37%;
    margin-left: 3px;
}

.card-nome, .card-exp {
    text-align: center;
}

.card-parametros{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.card-datos{
    text-align: center;
}


@media screen and (max-width:760px) {

    .navegacao {
        text-align: center;
        height: 100px;
    }
    
    .navegacao img{
        display: none;
    }

    .navegacao a{
        padding: 5px;
    }

    .container {
        display: flex;
        flex-direction: column;

    }

}