@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none; 
}

main{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    font-family: "roboto", sans-serif;
}

header{
    display: flex;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,0.308) 0%, rgba(253,187,45,0.308) 100%);
    position:fixed;
    right: 0;
    top: 0;
}

.logo{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.navegacao{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.navegacao a{
    padding-right: 30px;
    color: white;
}

.hero {
    background-image: url("https://img.freepik.com/free-vector/blue-futuristic-networking-technology_53876-97395.jpg?t=st=1654378943~exp=1654379543~hmac=80f92b7d225bdbec2a8ca744c9b88c7616a9a5c8a99666037908f988186c1c4a&w=1350");
    background-color: rgba(0, 0, 0, .75);
    height: 600px;
    background-repeat: no-repeat;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 56px;
    color: #2dfdfc;
    font-family: "Raleway", sans-serif;
}

.box1{
    display: flex;
    margin: 20px 10px 20px 10px;
    position: relative;
    top: 55px;
    right: 265px;
}

.box1 a{
padding-right: 10px;
}


.box2 img{
    display: flex;
    position: relative;
    right: 120px;
    border-radius: 50%;
}

.container_sobremim{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.sobremim{
    font-family: "Raleway", sans-serif;
    padding-top: 30px;
    padding-left: 45px;
    font-size: 40px;

}

.item1{
    height: 350px;
    width: 350px;
}

.item1 p{
    font-family: "roboto", sans-serif;
    text-align: justify;
    line-height: 20px;
}

.item2 img{
    width: 100%;
    height: 350px;
    box-shadow: 4px 6px 13px 3px #000000;
    border-radius: 4px;
}

.item3 ol{
    text-align: center;
}

.item3 li{
    padding-bottom: 10px;
}

.item2{
    height: 350px;
    width: 350px;
}

.item3{
    height: 350px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item3 h2{
    padding-bottom: 10px;
    font-family: "Raleway", sans-serif;
}

.container_tecnologias{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.tecnologias{
    display: flex;
    justify-content: end;
    font-family: "Raleway", sans-serif;
    padding-top: 30px;
    padding-right: 45px;
    font-size: 40px;
}

.icon{
    width: 150px;
    height: 150px;
    margin-left: 25px;
}

.container_projeto{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.projetos{
    font-family: "Raleway", sans-serif;
    padding-top: 30px;
    padding-left: 45px;
    font-size: 40px;

}

.projeto{
    text-align: center;
    font-weight: bold;
}

.projeto img{
    max-width: 100%;
    height: 300px;
    margin-bottom: 5px;
}

.projeto1{
    height: 350px;
    width: 350px;
}

.projeto2{
    height: 350px;
    width: 350px;
}

.projeto3{
    height: 350px;
    width: 350px;
}

.container_contato {
    width: 30%;
    margin: 0 auto;
  }
  
  .form-contact {
    width: 100%;
    height: 480px;
    font-family: "roboto", sans-serif;
    
  }
  
  .form-contact-input {
    width: 100%;
    color: #292929;
    font-size: 18px;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-indent: 20px;
  }
  
  .form-contact-textarea {
    width: 100%;
    color: #292929;
    font-size: 18px;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 200px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-indent: 20px;
    padding-top: 16px;
    padding-left: 0;
    padding-right: 0;
    font-family: "Arial", Times, serif;
  }
  
  .form-contact-button {
    width: 50%;
    font-size: 18px;
    border-radius: 4px;
    height: 40px;
    opacity: .8;
    margin-left: 25%;
    cursor: pointer;
    background: rgba(253,187,45,1);
    display: block;
    border: none;
    transition: 1s;
  }
  
  .form-contact-button:hover {
    opacity: 1;
  }

  footer{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    display:flex ;
    justify-content: center;
}

@media screen and (max-width:760px) {
    .navegacao {
        display: flex;
        flex-direction: column;
    }
    
    .navegacao img{
        width: 50px;
        height: 50px;
    }
    
    .navegacao a{
        padding: 5px;
    }

    .box0{
        display: flex;
        text-align: center;
        margin-top: 75px;
    }

    .box0 h1{
        font-size: 42px;
    }

    .box1{
        display: flex;
        position: relative;
        left: 100px;
        top: 65px;
    }

    .box2 img{
        display: flex;
        position: relative;
        bottom: 100px;
        right: 90px;
    }

    .container_sobremim{
     display: initial;
    }

    .item1 p{
        margin-left: 25px;
    }

    .item2 img{
        margin-top: 25px;
    }

    .item3 {
        margin-left: 25px;
    }

    .sobremim{
        padding-bottom: 10px;
    }
  
    .container_tecnologias{
        display: initial;
    }

  .tecnologias{
      padding-bottom: 20px;
  }
    
    .container_projeto{
        display: flex;
        flex-direction: column;
        margin-top: 185px;
    }

    .container_contato{
        width: 60%;
        margin-top: 200px;
    }

}

