@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');

:root{
    --main-color:#1F203A;
    --fuente-texto: "roboto", sans-serif;
    --fuente-titulo: "Raleway", sans-serif;
    --titulos-color: #000 ; 
    --text-color: #000;
    --light-text-color: #000;
    --container-color: #1F203A;
    --body-color: #F2F2F2;
    --shadow-color: 0px 2px 2px rgba(0, 0, 0, 0.2);
    --font-size-titulos: 40px;
    --font-size-texto: 16px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none; 
    scroll-behavior: smooth;
}

*:before,
*:after{
    box-sizing: inherit;
}

h1 {
    font-family: var(--fuente-titulo);
}

html{
    background: var(--principal-color);
    background: var(--body-color);
}


h2{
    font-family: var(--fuente-titulo);
    padding-top: 20px;
    padding-left: 50px;  
    padding-bottom: 20px;
    font-size: var(--font-size-titulos);
}

p {
    font-family: var(--fuente-texto);
    font-size: var(--font-size-texto);
}

ol{
    font-family: var(--fuente-texto);
    font-size: var(--font-size-texto);
}

.projetos{
    padding-left: 50px;
}

.skill-experience{
    min-height: 50vh;
    padding: 5rem 3rem;
    position: relative;
    padding-left: 5rem;
    background-color:var(--container-color);
    color: #F2F2F2;
}

.page-skills{
    overflow: hidden;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    -ms-flex-align: center;
    justify-content: space-between;
}

.skills{
    display: flex;
    padding-right: 5rem;
    width: 50%;
    flex-direction: column;
}

.experience{
    padding-right: 5rem;
    width: 50%;
}

.experience p{
    position: relative;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

.barra{
    margin-bottom: 2rem;
}

.barra span{
    font-size: 18px;
    margin-bottom: 7px;
    display: block;
}

.barra footer{
    background-color:#F2F2F2 ;
    height: 2px;
}

.barra footer div{
    width: 0;
    height: 100%;
    -webkit-transition: width 1.3s ease-out;
    transition: width 1.3s ease-out;
    background-color: #F652A0;
}

.icon{
    width: 150px;
    height: 150px;
    margin-left: 25px;
}

.container_projeto{
    width: 100%;
    max-width: 1200px;
    height: 450px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center; 
    margin: auto;
    margin-top: 50px;
}

.container_projeto h2{
    margin-top: 20px;
}

.projeto{
    height: 325px;
    width: 265px;
    border-radius: 8px;
    box-shadow: var(--shadow-color);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: #eff3f5;
    color:  #000;
}

.container_projeto .projeto:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.projeto img{
width: 330px;
height: 220px;
}

.projeto h3{
    padding-bottom:10px;

}
